
body {
    font-family: helvetica;
    font-weight: bold;
}

#header {
    background-color:#f151ae;
    height: 70px;
    text-align: center;
    line-height: 70px;
}

h1 {
    vertical-align: middle;
    color: white;
    font-weight: bold;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
}

.row {
    margin: 10px 20px;
}

#results {
    margin: 30px 20px 10px 0px;
}

.person-row {
    margin: 10px 0px;
    padding: 10px;
    background-color: #fd5ccd88;
    width: 100%;
    float: left;
}

.person-row img {
    float: left;
    margin-right: 20px;
}

.personal-info {
    float: left;
}

.person-row > button {
   float: right; 
}